name: release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: sv.h
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Clone collection repository
        run: |
          git clone https://x-access-token:${{ secrets.TARGET_REPO_TOKEN }}@github.com/rsore/shc.git shc

      - name: Copy file
        run: |
          cp sv.h shc/sv.h

      - name: Commit and push changes
        working-directory: shc
        run: |
          git add .
          git commit -m "Update sv.h from release $GITHUB_REF_NAME"
          git push
